<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭 -->
	<typeAliases>
		<typeAlias type="com.ncs.test.model.vo.Member" alias="Member"/>
	</typeAliases>

	<!-- mapper 연결 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
	</mappers>
	
</configuration>